@page "/detection"

@using BlazorDetection.Data
@using System.IO
@using System.Diagnostics
@using System.Drawing;

@inject DetectionService DetectionService

<h3>Detection</h3>

<MatFileUpload 
               OnChange="FileReady"
               Style="width: 500px; height: 50px"
               Label="Перетащите или выберите изображение">
</MatFileUpload>

<MatButton
           Label="Очистить"
           OnClick="ClearClicked">
</MatButton>

@if (!string.IsNullOrWhiteSpace(errorMessage))
{
<textarea style="width: 100%; max-height: 300px; height: 300px;">@errorMessage</textarea>
}

@foreach (var image in imageStrings)
{
    <div>
        <img src="data:image/png;base64, @image"
             alt="Image"
             height="650"/>
    </div>
}

@code {

    string errorMessage;
    List<string> imageStrings = new List<string>();

    async Task FileReady(IMatFileUploadEntry[] files)
    {
        try
        {
            List<Bitmap> images = new List<Bitmap>();
            foreach (var file in files)
            {
                if (file == null)
                {
                    continue;
                }

                using (var stream = new MemoryStream())
                {
                    var sw = Stopwatch.StartNew();
                    await file.WriteToStreamAsync(stream);
                    sw.Stop();

                    Console.WriteLine($"Name:\t{file.Name}");
                    Console.WriteLine($"Type:\t{file.Type}");
                    Console.WriteLine($"LastModified:\t{file.LastModified}");
                    Console.WriteLine($"Size:\t{file.Size}");
                    Console.WriteLine($"Time:\t{sw.Elapsed}");
                    Console.WriteLine($"Speed:\t{(stream.Length / sw.Elapsed.TotalSeconds):N0}  b/s");

                    var image = Image.FromStream(stream);
                    var bitmap = new Bitmap(image);
                    images.Add(bitmap);
                }
            }
            await foreach (var imageString in DetectionService.DetectAsync(images))
            {
                imageStrings.Add(imageString);
            }
        }

        catch (Exception e)
        {
            errorMessage = $"Error:\r\n{e.Message}\r\n{e.StackTrace}";
        }
        finally
        {
            await InvokeAsync(async () => { this.StateHasChanged(); });
        }
    }

    async Task ClearClicked()
    {
        imageStrings.Clear();
    }

    protected override async Task OnInitializedAsync()
    {

    }
}
